<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="local-sdk" value="Slncs.Sdk/bin/Debug" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="local-sdk">
      <package pattern="Slncs.Sdk" />
      <package pattern="NuGet.Common" />
    </packageSource>
  </packageSourceMapping>
</configuration>

